In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("C:/bank-full - bank-full.csv")
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [3]:
data.shape

(45211, 17)

In [4]:
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
Target       0
dtype: int64

In [5]:
data.drop(['contact'],axis=1,inplace=True)
data.drop(['poutcome'],axis=1,inplace=True)

In [6]:
data.shape

(45211, 15)

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in data.columns:
  if data[i].dtypes=='O':
    data[i]=le.fit_transform(data[i])
data.head()

,age,job,marital,education,default,balance,housing,loan,day,month,duration,campaign,pdays,previous,Target
0,58,4,1,2,0,2143,1,0,5,8,261,1,-1,0,0
1,44,9,2,1,0,29,1,0,5,8,151,1,-1,0,0
2,33,2,1,1,0,2,1,1,5,8,76,1,-1,0,0
3,47,1,1,3,0,1506,1,0,5,8,92,1,-1,0,0
4,33,11,2,3,0,1,0,0,5,8,198,1,-1,0,0

In [8]:
data.corr()

,age,job,marital,education,default,balance,housing,loan,day,month,duration,campaign,pdays,previous,Target
age,1.000000,-0.021868,-0.403240,-0.106807,-0.017879,0.097783,-0.185513,-0.015655,-0.009120,-0.042357,-0.004648,0.004760,-0.023758,0.001288,0.025155
job,-0.021868,1.000000,0.062045,0.166707,-0.006853,0.018232,-0.125363,-0.033004,0.022856,-0.092870,0.004744,0.006839,-0.024455,-0.000911,0.040438
marital,-0.403240,0.062045,1.000000,0.108576,-0.007023,0.002122,-0.016096,-0.046893,-0.005261,-0.006991,0.011852,-0.008994,0.019172,0.014973,0.045588
education,-0.106807,0.166707,0.108576,1.000000,-0.010718,0.064514,-0.090790,-0.048574,0.022671,-0.057304,0.001935,0.006255,0.000052,0.017570,0.066241
default,-0.017879,-0.006853,-0.007023,-0.010718,1.000000,-0.066745,-0.006025,0.077234,0.009424,0.011486,-0.010021,0.016822,-0.029979,-0.018329,-0.022419
balance,0.097783,0.018232,0.002122,0.064514,-0.066745,1.000000,-0.068768,-0.084350,0.004503,0.019777,0.021560,-0.014578,0.003435,0.016674,0.052838
housing,-0.185513,-0.125363,-0.016096,-0.090790,-0.006025,-0.068768,1.000000,0.041323,-0.027982,0.271481,0.005075,-0.023599,0.124178,0.037076,-0.139173
loan,-0.015655,-0.033004,-0.046893,-0.048574,0.077234,-0.084350,0.041323,1.000000,0.011370,0.022145,-0.012412,0.009980,-0.022754,-0.011043,-0.068185
day,-0.009120,0.022856,-0.005261,0.022671,0.009424,0.004503,-0.027982,0.011370,1.000000,-0.006028,-0.030206,0.162490,-0.093044,-0.051710,-0.028348
month,-0.042357,-0.092870,-0.006991,-0.057304,0.011486,0.019777,0.271481,0.022145,-0.006028,1.000000,0.006314,-0.110031,0.033065,0.022727,-0.024471
duration,-0.004648,0.004744,0.011852,0.001935,-0.010021,0.021560,0.005075,-0.012412,-0.030206,0.006314,1.000000,-0.084570,-0.001565,0.001203,0.394521
campaign,0.004760,0.006839,-0.008994,0.006255,0.016822,-0.014578,-0.023599,0.009980,0.162490,-0.110031,-0.084570,1.000000,-0.088628,-0.032855,-0.073172
pdays,-0.023758,-0.024455,0.019172,0.000052,-0.029979,0.003435,0.124178,-0.022754,-0.093044,0.033065,-0.001565,-0.088628,1.000000,0.454820,0.103621
previous,0.001288,-0.000911,0.014973,0.017570,-0.018329,0.016674,0.037076,-0.011043,-0.051710,0.022727,0.001203,-0.032855,0.454820,1.000000,0.093236
Target,0.025155,0.040438,0.045588,0.066241,-0.022419,0.052838,-0.139173,-0.068185,-0.028348,-0.024471,0.394521,-0.073172,0.103621,0.093236,1.000000

In [9]:
x = data.iloc[:,0:14]
y = data['Target']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
print(f"Train size {x_train.shape[0]} rows\nTest size {x_test.shape[0]} rows")

Train size 31647 rows
Test size 13564 rows

In [10]:
X_train = np.array(x_train.iloc[:,0:14])
X_test = np.array(x_test.iloc[:,0:14])

In [11]:
Y_train = np.array(y_train)
Y_test = np.array(y_test)

In [14]:
Y_train = Y_train.reshape(Y_train.shape[0], 1)
print(Y_train.shape)
print(Y_test.shape)

(31647, 1)
(13564,)

In [15]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(31647, 14)
(13564, 14)
(31647, 1)
(13564,)

In [16]:
W = np.random.rand(14,1)
b = 0
assert(W.shape == ( x_train.shape[1],1))
assert(isinstance(b, float) or isinstance(b, int))
W

array([[0.76903155],
       [0.8457688 ],
       [0.46930737],
       [0.15313413],
       [0.69224994],
       [0.05316333],
       [0.8756125 ],
       [0.89596357],
       [0.32604924],
       [0.41146463],
       [0.51395103],
       [0.70418012],
       [0.51938652],
       [0.78250208]])

In [35]:
iterations = 1000
Alpha = .001
m = int(X_train.shape[0])

In [36]:
def Hypothesis(X,W,b):
  Z = np.dot(X,W) + b 
  return Z
Hypothesis(X_train,W,b)

array([[ 454.9521503 ],
       [ 108.5034092 ],
       [-160.49517135],
       ...,
       [  32.59538751],
       [ -36.46368295],
       [ -72.88529857]])

In [37]:
import math
def sigmoid(Z):
    A = 1/ (1 + np.exp(-Z))  
    return A

In [38]:
def J(X,W,b,Y):
    cost = 0
    m = X.shape
    z_i = Hypothesis(X,W,b)
    f_wb_i = sigmoid(z_i)
    cost += np.sum(-Y*np.log(f_wb_i) + (1-Y)*np.log(1-f_wb_i))
    total_cost = cost/m
    return total_cost

In [39]:
def GradientDescent(X,W,b,Y,iterations,Alpha,m):
  for i in range(iterations):
    z_i = Hypothesis(X,W,b)
    f_wb_i = sigmoid(z_i)
    err = f_wb_i - Y
    dw = (1/m)*(np.sum(err*X,axis=0).reshape(14,1))
    db = np.sum(err)/m
    W = W - Alpha*dw
    b = b - Alpha*db
  return W ,b

In [40]:
def predict(W,b,X):

    m = X.shape[0]
    Y_predicted = np.zeros((m,1))
    W = W.reshape(X.shape[1],1)

    Z = Hypothesis(X,W,b)
    H = sigmoid(Z)

    for i in range(H.shape[0]):
        Y_predicted[i,0] = 1 if H[i,0]>0.5 else 0

    assert(Y_predicted.shape == (m,1) ) 

    return Y_predicted

In [41]:
def F1_score(y,y_hat):
    tp,tn,fp,fn = 0,0,0,0
    for i in range(len(y)):
        if y[i] == 1 and y_hat[i] == 1:
            tp += 1
        elif y[i] == 1 and y_hat[i] == 0:
            fn += 1
        elif y[i] == 0 and y_hat[i] == 1:
            fp += 1
        elif y[i] == 0 and y_hat[i] == 0:
            tn += 1
    precision = tp/(tp+fp)
    recall = tp/(tp+fn)
    f1_score = 2*precision*recall/(precision+recall)
    return f1_score

In [42]:
W,b= GradientDescent(X_train,W,b,Y_train,iterations,Alpha,m)
Y_prediction_train = predict(W,b,X_train)
Y_prediction_test = predict(W,b,X_test)

print("train accuracy: {} %" .format(100 - np.mean(np.abs(Y_prediction_train-Y_train))*100))
print("train F1: {} %" .format(F1_score(Y_prediction_train,Y_train)))
print("test accuracy: {} %" .format(100 - np.mean(np.abs(Y_prediction_test-Y_test))*100))
print("train F1: {} %" .format(F1_score(Y_prediction_test,Y_test)))

C:\Users\maria\AppData\Local\Temp\ipykernel_2332\380351307.py:3: RuntimeWarning: overflow encountered in exp
  A = 1/ (1 + np.exp(-Z))

train accuracy: 83.44866812020096 %
train F1: 0.11758760107816711 %
test accuracy: 83.28303967142541 %
train F1: 0.1257050765511684 %